@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.hero {
    background-image: url('../images/cow.jpg');
    height: 100vh;  /* height: 700px; */
    background-position: bottom center;
    /*cow ta niche ashbe then center ashbe*/
    background-size: cover;
   

}
/*inspect h1 dekhbo full width ta niye nise*/  /* Full width peye h1 ke dhore center e niye ashlam */
.hero h1 {
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    padding-top: 40px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
}



.article, #cow-type {
    width: 80%;
    margin: 60px auto;
    padding: 60px;
    border: 10px solid yellow;
    background: linear-gradient(45deg,pink, rgb(122,122,244));
}

.article h1, #cow-type h2 {
    text-align: center;
    font-size: 48px;
   
    border-style: solid;
    border-width: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: maroon;
    /* p-bottom dile = se tar content ke kichu inner space dilo */
    padding-bottom: 30px;

    margin-bottom: 60px;
}
    
.article p{
    font-size: 28px;
    line-height: 2em; /* text er height basis jaiga nibe */
}
.article p span{
    /* font-size: 100px; = screen joto e choto kori, eita 100px jaiga nicche */
    /*mane font-size = 28px || eikhane parent er font-size niye kaaj korbe*/
    /* em dile size komaile screen er likha choto hocche again if required barche(responsive) */
    /*2em mane parent er font-size theke 2 gun beshi jaiga nibo 28 * 2 = 56px jaiga nicche*/
    font-size: 2em;  
    background-color: palegreen;
    /* width: 600px; */ /* er jonno display block korte hobe d-inline block likhle width ta nibe*/
    
}
/* Inline Element = content er height/width nibe nah = span ekta inline element */
#cow-type .cow-images{
    display: flex; 
    gap: 20px;
    justify-content: space-between;
    /* flex-wrap: wrap; flex-direcrion:row thake */
}
/* since amar image guli ber hoye gese from parent .cow-images */
/* jodi ekta img div cancel kore = jc-center kori majhe ashbe = sp dile dui pashe rakhbe*/
.cow-images div{
    min-height: 300px;
}
.cow-images img{
    width: 100%;
}
